---
title: Contact Me
---

<section class="section centered">
  <h1>What's up?</h1>
  <div>
    <form accept-charset="UTF-8" action="https://formkeep.com/f/09cf782f35a9" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <label>Email (required)</label>
      <input type="email" name="email" placeholder="Your Email" required>
      <label>Name (required)</label>
      <input type="text" name="name" placeholder="Your Name" required>
      <label>Site (optional)</label>
      <input type="url" name="url" placeholder="Your Website">
      <label>Message (required)</label>
      <textarea name="message" rows="8" cols="40" placeholder="Your message" required></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</section>
