---
title: evan's projects
---
<section class="section centered">
  <h2>Here's some of the things I've done recently, either for fun or for learning:</h2>
  <div class="grid-items-lines">
    <% data.work.projects.each do |project| %>
    <a href="<%= project.link %>" class="grid-item">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
      <h1><%= project.name %>
      </h1>
      <small><%= project.date %></small>
      <p><%= project.short_desc %></p>
    </a>
    <% end %>
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </div>
</section>
